<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core">
	 		 	
	
	 <ui:define name="conteudo">	 	
	 	<br></br>
	 	<br></br>	 	 		 	
	 	<br></br>
	 	<br></br>
	 		<div class="container-fluid">
			     <div class="row-fluid">
			       <div class="span3">
			         <div class="well sidebar-nav">
			           <ul class="nav nav-list">
			             <li class="nav-header">Download Blobs</li>
			             <li><h:link value="Download" outcome="/pages/download" /></li>
			             <li class="nav-header">Upload Blobs</li>
			             <li><h:link value="Upload" outcome="/pages/upload" /></li>
			             <li class="nav-header">List Blobs</li>
			             <li><h:link value="List" outcome="/pages/list" /></li>
			             <li class="nav-header">Delete Blobs</li>
			             <li><h:link value="Delete" outcome="/pages/delete" /></li>
			           </ul>
			         </div><!--/.well -->
			       </div><!--/span3-->
			       <div class="span9">
				    	<div class="hero-unit">
					        <h2>Delete Blobs Azure</h2>
					        <br />
					        <h:commandButton value="Delete Blobs" action="#{blobStorageController.deleteBlob}" 
					        	class="btn btn-primary" />
				        </div>
				   	</div>  
			     </div><!--/row-->
			</div><!-- /container -->
	 	
	 </ui:define>

</ui:composition>