<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core">
	 		 	
	 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project Blobs Azure</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><h:link value="Home" outcome="/index" /></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

</ui:composition>