<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core">
	
<h:head>
	<h:outputStylesheet name="bootstrap.css" library="css" />
	<h:outputStylesheet name="bootstrap-theme.css" library="css" />
	<h:outputStylesheet name="bootstrap-responsive.css" library="css" />
	<h:outputScript name="bootstrap.js" library="js" />
</h:head>

<h:body>
		
	<ui:insert name="cabecalho" >
		<ui:include src="/WEB-INF/templates/cabecalho.xhtml"/>
	</ui:insert>
		
	

	<ui:insert name="conteudo" >
		
	</ui:insert>
	
	<hr></hr>
	
	<ui:insert name="rodape">
		<ui:include src="/WEB-INF/templates/rodape.xhtml"></ui:include>
	</ui:insert>
	
</h:body>
</html>