<ui:composition
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core">
	 		 	
	 <footer>
	 		<h6>Professor: Flavio Sousa</h6>
	 		<h6> Engenharia de Software - UFC</h6>
      </footer>

</ui:composition>